<!DOCTYPE html>
<html>
<head>
  <title>Vracker</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="container">
    <h1>Vracker</h1>
    <p class="centerAlign">The Volunteer Tracker</p>
    <hr>
    <div class="row">
      <div class="col-sm-1">
      </div>
      <div class="col-sm-4">
        <h2><a href="/projects"><p class="btn-lg btn-primary">Projects</p></a></h2>
      </div>
      <div class="col-sm-2">
      </div>
      <div class="col-sm-4">
        <h2><a href="/volunteers"><p class="btn-lg btn-success">Volunteers</p></a></h2>
      </div>
      <div class="col-sm-1">
      </div>
    </div>
    <HR>
      <%= yield %>
    </div>
  </body>
  </html>
