<h2>Add a new volunteer</h2>

<form action="/volunteers" method="post">
  <div class="form-group">
    <label for="volunteer_name">Project name</label>
    <input id="volunteer_name" name="volunteer_name" class="form-control" type="text" required>
    <!-- <input id="project_id" name="project_id" class="form-control" type="hidden" required> -->

  </div>
  <button type="submit" class="btn">Add volunteer</button>
</form>
