<h2>Projects</h2>
<div class="row">
  <div class="col-sm-8">
    <% if @projects.any? %>
    <h3>All</h3>
    <p class="heavy">Click a project title to access it:</p>
    <ul>
      <% @projects.each do |project| %>
      <li><a href="/projects/<%= project.id %>"><%= project.title %></a></li>
      <% end %>
    </ul>
    <% else %>
    <h3>There are currently no records to display.</h3>
    <% end %>
  </div>
  <div class="col-sm-4">
    <h3>Add a new project</h3>
    <form action="/projects" method="post">
      <div class="form-group">
        <label for="title">Project name:</label>
        <input id="title" name="project_title" class="form-control" type="text" required>
      </div>
      <button type="submit" class="btn btn-primary">Create Project</button>
    </form>
  </div>
</div>
