<h2>Volunteer Name: <%= @volunteer.name %></h2>

<h3>Volunteer Volunteers</h3>



<form action="/volunteers/<%= @volunteer.id %>" method="post">
  <div class="form-group">
    <label for="volunteer_name">Volunteer name</label>
    <input id="volunteer_name" name="volunteer_name" class="form-control" type="text" required>
  </div>
  <button type="submit" class="btn">Add volunteer</button>
</form>



<p><a href="/volunteers/<%= @volunteer.id %>/edit">Edit project</a></p>
<p><a href="/volunteers">Return to volunteers list</a></p>
