/*
COLOR SCHEME
text
  rgba(3, 68, 96, 1)
shade
  rgba(15, 86, 129, 1)
pri
  rgba(68, 139, 182, 1)
tint
  rgba(146, 221, 255, 1)
comp
  rgba(187, 116, 73, 1)
 */

body {
  background-color: rgba(146, 221, 255, 1);
}

h1 {
  font-family: serif;
  font-style: oblique;
  text-align: center;
  color: rgba(3, 68, 96, 1);
}

h2 {
  font-family: serif;
  font-style: oblique;
  text-align: center;
  color: rgba(173, 100, 58, 1);
}

p {
  color: rgba(3, 68, 96, 1);
}

h3 {
  font-style: oblique;
}

.centerAlign{
  text-align: center;
  text-decoration: overline;
}

.btn-lg {
  text-align: center;
  text-decoration: underline;
}

.heavy {
  font-weight: bolder;
}

.col-sm-8, .col-sm-4, .col-sm-12 {
  background-color: rgba(15, 86, 129, .1);
  border-radius: 10%;
}
